//@import 'jeet/index'
@import nib

$color-dark-headings = #1f1f1f
$color-light-headings =  #8e8e8e
$color-secondary = #22364b
$color-text = #575757
$color-text-link = #95ab63
$color-text-secondary = #596c73
$color-button = #6ceaee
$color-button-light = lighten($color-button, 70%)
$color-button-text = #177b7e
$color-hr = #e5e5e5
$color-light-gray-bg = #fafafa
$color-feature-bg = #f7f7f7
$color-feature-border = #e8e8e8
$color-white = #ffffff

//PX to REM variable
$base_font_size = 16
px(original, base = "none")
	if base == "none"
		( original / $base_font_size ) rem
	else	
		( original / base ) em

*
	&:after
	&:before
		margin: 0
		padding: 0
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

$type_h_font_lineheight = 1em
$type_font_family = 'Lato', sans-serif
$type_font_weight_light = 300
$type_font_weight_bold = 700
$type_font_weight_black = 900
$type_h_font_sizes = {
	'h1': 64,
	'h2': 45,
	'h3': 32,
	'h4': 24,
	'h5': 16,
	'h6': 14,
}

h_tags()
	h1, h2, h3, h4, h5, h6
		font-family: $type_font_family
		line-height: $type_h_font_lineheight
	h1, h2
		font-weight: $type_font_weight_black
	h3, h4 
		font-weight: $type_font_weight_light
	h5, h6
		font-weight: $type_font_weight_bold
	h1, h2, h3
		color: $color-dark-headings
	h4, h5
		color: $color-light-headings
	h6
		color: $color-button
	for h_lvl, value in $type_h_font_sizes
		{h_lvl}
			font-size px(value)
			
h_tags()

p
	line-height: px(24)
	color: $color-text-medium
	font-family: $type_font_family

.font-light
	font-weight: $type_font_weight_light
	
.font-black
	font-weight: $type_font_weight_black
	
.alt-dark
	background-color: $color-secondary
	color: $color-white
	h3
		color: $color-white
	
.alt-light
	background-color: $color-feature-bg
	border-top: 1px solid $color-feature-border
	border-bottom: 1px solid $color-feature-border

border-radius(n)
	-webkit-border-radius: n
	-moz-border-radius: n
	border-radius: n

border-radius-left(n)
	-webkit-border-top-left-radius: n
	-webkit-border-bottom-left-radius: n
	-moz-border-radius-topleft: n
	-moz-border-radius-bottomleft: n
	border-top-left-radius: n
	border-bottom-left-radius: n

border-radius-right(n)
	-webkit-border-top-right-radius: n
	-webkit-border-bottom-right-radius: n
	-moz-border-radius-topright: n
	-moz-border-radius-bottomright: n
	border-top-right-radius: n
	border-bottom-right-radius: n

input
	padding: px(20)
	color: $color-light-headings
	font-family: $type_font_family
	font-size: px(20)	
	border:none;
	&.width4
		width: 56%
	&[type=text]
		border-radius-left (px(5))
		border-top: 1px solid $color-dark-headings
		border-bottom: 1px solid $color-dark-headings
		border-left: 1px solid $color-dark-headings
	&[type=submit]
		background: $color-button
		color: $color-button-text
		font-weight: $type_font_weight_bold
		cursor: pointer
		border-radius-right (px(5))
		border-top: 1px solid $color-dark-headings
		border-bottom: 1px solid $color-dark-headings
		border-right: 1px solid $color-dark-headings
		-webkit-animation-duration: .3s
		animation-duration: .3s
		-webkit-animation-fill-mode: both
		animation-fill-mode: both		
		&:hover
			background: $color-button-light
			-webkit-animation-name: fadeIn;
			animation-name: fadeIn;			

header h4
	color: $color-secondary
	border-bottom: 1px solid $color-hr
	padding: px(15) 0 px(50) 0
	
header, footer, #banner-principal-title, #panel-team, #panel-reviews
	text-align: center
	
#banner-principal-title
	padding: px(25) 0 px(65) 0

#banner-principal-title h3
	color: $color-light-headings
	
#call-to-action
	text-align: center
	padding: px(90) 0 px(165) 0
	p
		padding: px(20) 0 px(10) 0
	form
		padding: px(20) 0
	span
		color: $color-text-secondary
	#device
		display: none
	#principal-form
		width: 100%	

#banner-benefits-title, #panel-team .col-1-1, #panel-reviews .col-1-1
	padding: px(85) 0 px(40) 0

#banner-benefits-title
	text-align: center
	h2
		padding-top: px(10)

.benefits
	padding: px(65) 0
	.col-3-12
		text-align:center

#panel-team
	padding-bottom: px(100)
	h3, h5
		margin: px(15)
	h3
		margin-top: px(40)	
	p
		padding-top: px(35)
		
#secondary-call-to-action
	padding: px(45) 0 px(70)
	h3, form
		text-align: center

#panel-reviews
	padding-bottom: px(40)
	.grid:nth-child(2)
		border-bottom: 1px dashed $color-hr
	.col-1-1
		padding-bottom: px(0)
		h2
			margin-bottom: px(0)
	.comments
		padding: px(65) 0
	h3
		margin-top: px(25)
	h3, h4
		text-align: right
	.bubble
		position: relative
		margin-left: px(35)
		border-radius(px(5))
		padding: px(30) px(50)
		background: $color-button-light
		text-align: left
		color: $color-button-text
		&:after
			content: "";
			position: absolute;
			top: 42%;
			left: px(-17);
			border-style: solid;
			border-width: px(12) px(17) px(12) 0;
			border-color: transparent $color-button-light;
			display: block;
			width: 0;
			z-index: 1;

footer
	padding: px(60) 0
	background: $color-light-gray-bg
	border-top: 1px solid $color-hr
	border-bottom: 1px solid $color-hr
	p
		color: $color-light-headings

.cd-user-modal
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: rgba(0, 0, 0, 0.65)
	z-index: 9999
	overflow-y: auto
	cursor: pointer
	visibility: hidden
	opacity: 0
	-webkit-transition: opacity 0.5s 0, visibility 0 0.5s
	-moz-transition: opacity 0.5s 0, visibility 0 0.5s
	transition: opacity 0.5s 0, visibility 0 0.5s
	.cd-user-modal-container
		position: relative
		width: 80%
		min-width: px(450)
		margin: px(60) auto
		padding: px(110) 0
		cursor: auto;
		background: $color-white
		text-align: center
		-webkit-transform: translateY(-30px)
		-moz-transform: translateY(-30px)
		-ms-transform: translateY(-30px)
		-o-transform: translateY(-30px)
		transform: translateY(-30px)
		-webkit-transition-property: -webkit-transform
		-moz-transition-property: -moz-transform
		transition-property: transform
		-webkit-transition-duration: 0.3s
		-moz-transition-duration: 0.3s
		transition-duration: 0.3s
		input[type=submit]
			border: none
			border-radius(px(5))

.cd-user-modal.is-visible
	visibility: visible
	opacity: 1
	-webkit-transition: opacity 0.5s 0, visibility 0 0
	-moz-transition: opacity 0.5s 0, visibility 0 0
	transition: opacity 0.5s 0, visibility 0 0
	.cd-user-modal-container
		-webkit-transform: translateY(0)
		-moz-transform: translateY(0)
		-ms-transform: translateY(0)
		-o-transform: translateY(0)
		transform: translateY(0)

.benefits img, #call-to-action img, #title-call-to-action
	opacity: 0

.animated
	-webkit-animation-duration: .9s
	animation-duration: .9s
	-webkit-animation-fill-mode: both
	animation-fill-mode: both

@-webkit-keyframes fadeInLeft
	0%
		opacity: 0
		-webkit-transform: translate3d(-100%, 0, 0)
		transform: translate3d(-100%, 0, 0)
	100%
		opacity: 1
		-webkit-transform: none
		transform: none

@keyframes fadeInLeft
	0%
		opacity: 0
		-webkit-transform: translate3d(-100%, 0, 0)
		-ms-transform: translate3d(-100%, 0, 0)
		transform: translate3d(-100%, 0, 0)
	100%
		opacity: 1
		-webkit-transform: none
		-ms-transform: none
		transform: none

.fadeInLeft
	-webkit-animation-name: fadeInLeft
	animation-name: fadeInLeft

@-webkit-keyframes zoomIn
	from
		opacity: 0
		-webkit-transform: scale3d(.3, .3, .3)
		transform: scale3d(.3, .3, .3)
	to
		opacity: 1

@keyframes zoomIn
	from
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3)
		-ms-transform: scale3d(.3, .3, .3)
		transform: scale3d(.3, .3, .3)
	to
		opacity: 1

.zoomIn
	-webkit-animation-name: zoomIn
	animation-name: zoomIn

@-webkit-keyframes fadeInDown
	0%
		opacity: 0
		-webkit-transform: translate3d(0, -100%, 0)
		transform: translate3d(0, -100%, 0)
	100%
		opacity: 1
		-webkit-transform: none
		transform: none

@keyframes fadeInDown
	0%
		opacity: 0
		-webkit-transform: translate3d(0, -100%, 0)
		-ms-transform: translate3d(0, -100%, 0)
		transform: translate3d(0, -100%, 0)
	100%
		opacity: 1
		-webkit-transform: none
		-ms-transform: none
		transform: none

.fadeInDown
	-webkit-animation-name: fadeInDown
	animation-name: fadeInDown

@-webkit-keyframes fadeIn
	from
		background: $color-button
	to
		background: $color-button-light

@keyframes fadeIn
	from
		background: $color-button
	to
		background: $color-button-light

@media only screen and (min-width: 1140px)
	.push-5-12
		margin-left: 41.7%;

	.align-right img
		float: right

	#call-to-action
		text-align: left
		.grid
			overflow: visible		
		p
			padding-right: px(130)
		#device		
			position: relative
			display: inherit			
		#device img
			position: absolute
			top: px(-165)
		#principal-form
			width: 58.33%
