@import nib
@import '/jeet'
@import '_settings'

$color-highlight = #00e1ff
$color-dark = #292929
$color-midlight = #c8cdce
$color-light = #f7f7f7
$color-text = #929ba0
$color-text-dark = #3f4244
$color-text-extra-light = #ffffff
$color-fb = #4a6ca5
$color-tw = #41ade1

//PX to REM variable
$base_font_size = 16
px(original, base = "none")
	if base == "none"
		( original / $base_font_size ) rem
	else	
		( original / base ) em

$type_h_font_lineheight = 1em
$type_font_family = 'Raleway', sans-serif
$type_font_weight_extra_light = 200
$type_font_weight_light = 300
$type_font_weight_regular = 400
$type_font_weight_medium = 500
$type_font_weight_extra_bold = 800
$type_h_font_sizes = {
	'h1': 60,
	'h2': 40,
	'h3': 20,
	'h4': 17,
	'h5': 15,
	'h6': 14,
}

*
	-moz-box-sizing: border-box
	-webkit-box-sizing: border-box
	box-sizing: border-box
	margin: 0
	padding: 0
	-webkit-font-smoothing: antialiased	

body
	font-family: $type_font_family
	color: $color-text

h_tags()
	h1, h2, h3, h4, h5, h6
		font-family: $type_font_family
		line-height: $type_h_font_lineheight
		font-weight: $type_font_weight_regular
		color: $color-text-dark
	h1
		font-weight: $type_font_weight_extra_light
	h3, h5, h6
		font-weight: $type_font_weight_medium
	h6
		color: $color-highlight
	for h_lvl, value in $type_h_font_sizes
		{h_lvl}
			font-size px(value)
			
h_tags()

.container
	center(max-width = 1170px) 
	
a
	color: $color-highlight
	text-decoration: none
	font-weight: $type_font_weight_light
	font-size: px(15)
	padding: px(2) 0
	&:hover
		color: $color-midlight
		border-bottom: 1px solid $color-midlight

p
	span()
	line-height: px(20)
	font-size: px(15)
	@media only screen and (min-width: 1170px)
		col(8/12, offset:2/12)
		padding: 0

.alt-dark
	background: $color-dark
	
.alt-light
	background: $color-light

header
	cf()
	background: url('../imgs/photo-hero.jpg') no-repeat center
	height: 50vh
	@media only screen and (min-width: 1170px)
		height: 90vh
	-webkit-background-size: cover
	background-size: cover
	.container
		position: relative
	nav
		transition: all 0.2s ease
	#logo
		col(6/12)
		@media only screen and (min-width: 1170px)
			col(2/12)
		font-family: $type_font_weight_extra_bold
		padding: px(34) px(20)
		a
			display: block
			height: 33px
			line-height: 30px
			font-size: px(24)
			padding-left: px(65)
			font-weight: $type_font_weight_extra_bold
			color: $color-text-extra-light
			background: url('../imgs/icon-logo-white.png') no-repeat left
			&:hover
				border: none
	.main-nav
		col(6/12)
		background: $color-text-extra-light
		border-left: 1px solid $color-light
		border-bottom: 1px solid $color-light
		display: none
		@media only screen and (min-width: 1170px)
			col(6/12, offset:4/12)
			background: none
			border: none
			padding-top: 0
			display: inherit
		li
			&:first-child
				padding-top: px(20)
			@media only screen and (min-width: 1170px)
				float: left
				&:first-child
					padding-top: 0
			a
				display: block
				padding: px(20) px(25)
				color: $color-text
				font-size: px(15)
				@media only screen and (min-width: 1170px)
					padding: px(40) px(15) px(16)
					color: $color-text-extra-light
					border-bottom: 2px solid transparent
					-webkit-transition: border-bottom 0.2s, color 0.2s
					transition: border-bottom 0.2s, color 0.2s
				&:hover
					color: $color-highlight
					border: none
					@media only screen and (min-width: 1170px)
						border-bottom: 2px solid $color-highlight
	.sticky-nav
		background: $color-text-extra-light
		position: fixed
		top: 0
		left: 0
		height: 49px
		width: 100%
		border-bottom: 1px solid $color-light
		z-index: 9999
		padding-top: 0
		.mobile-menu
			margin-top: px(12)
		.icon-menu
			background: url('../imgs/icon-menu.png') no-repeat center bottom
		#logo
			padding-top: px(10)
			a
				color: $color-text-dark
				background: url('../imgs/icon-logo.png') no-repeat
		li
			&:first-child
				padding-top: 0
			a
				padding: px(16) px(15)
				color: $color-text-dark		
	.mobile-menu
		right: px(30)
		position: absolute
		margin-top: px(35)
		cursor: pointer
		@media only screen and (min-width: 1170px)
			display: none
	.icon-menu
		background: url('../imgs/icon-menu-white.png') no-repeat center bottom			
	#panel-hero
		span()
		text-align: center
		margin: 30px auto 0 auto
		@media only screen and (min-width: 1170px)
			margin: 150px auto 0 auto
		h1
			color: $color-text-extra-light

#main-content
	#panel-services h5::after, #panel-portafolio h5::after
			content: ''
			width: px(70)
			display: block
			height: 2px;
			background-color: $color-highlight
			margin: px(20) auto px(15) auto
	#panel-services
		padding: px(30) 0 px(60) 0
		@media only screen and (min-width: 1170px)
			padding: px(120) 0
		.service
			stack()
			text-align: center
			padding: px(20) 0
			@media only screen and (min-width: 768px)
				col(1/2)
				text-align: center
				margin-right: 0
			@media only screen and (min-width: 1170px)
				col(1/4)
				padding: 0
				text-align: center
	#panel-feature-one
		cf()
		padding-top: px(40)
		@media only screen and (min-width: 1170px)
			padding-top: px(80)
		.description
			stack()
			padding: px(30)
			@media only screen and (min-width: 1170px)
				col(6/12)
				padding: px(60) 0 px(60) px(50)
			p
				col(offset:0)
				padding: px(40) 0 px(10) 0
		img
			stack()
			width: 50%
			padding-top: px(70)
			@media only screen and (min-width: 1170px)
				padding-top: 0
				col(5/12, offset:1/12)
	#panel-feature-two
		cf()
		padding: px(100) px(30) 0 px(30)
		text-align: center
		background: url('../imgs/photo-landscape.jpg') no-repeat center
		@media only screen and (min-width: 1170px)
			padding: px(100) 0 0 0
		h2, p
			color: $color-text-extra-light
		h2::after
			content: ''
			width: px(170)
			display: block
			height: 2px;
			background-color: $color-highlight
			margin: px(25) auto px(20) auto			
		img
			col(10/12, offset:1/12)
			padding-top: px(90)
	#panel-timeline
		cf()
		padding: px(60) 0 px(20) 0
		@media only screen and (min-width: 1170px)
			padding: px(120) 0 px(90) 0
		p
			col(offset:0)
			padding: px(20) 0	
		.timeline-item
			height: px(320)
			@media only screen and (min-width: 768px)
				height: px(280)
			@media only screen and (min-width: 1170px)
				height: px(210)
			&:last-child .date
				border: none
			.date, .event
				height: 100%
			.bullet
				position: absolute
				right: -7px
			.date
				col(3/12, offset:1/12)
				position: relative
				text-align: right
				border-right: 1px solid $color-midlight
				padding-right: 30px
				h4
					color: $color-highlight
					margin-bottom: px(10)
				h6
					color: $color-midlight
			.event
				col(6/12)
	#panel-portafolio
		cf()
		text-align: center
		padding: px(50) 0
		@media only screen and (min-width: 1170px)
			padding: px(100) 0
		p
			padding: px(0) px(30)
			@media only screen and (min-width: 1170px)
				padding: 0
		#filter, #portafolio
			span()
		#portafolio
			padding-top: px(80)
			p
				span()
				color: $color-text
			.gallery-desc
				padding: px(35) px(10)
				height: px(160)
				@media only screen and (min-width: 1170px)
					padding: px(35) px(60)
			li
				position:relative
				height: 100%
				float: left
				background: $color-text-extra-light
				display: block
				cursor: pointer
				padding: 0
				position: relative
				margin: px(10) px(5)
				width: 48%
				@media only screen and (min-width: 1170px)
					width: 32%		
				.overlay
					position: absolute
					height: 100%
					width: 100%
					background: none
					top:0
					left:0
					-webkit-transition: background 0.2s ease
					transition: background 0.2s ease					
					&:hover
						background: rgba(88, 204, 219, 0.5) url('../imgs/icon-plus.png') no-repeat center center
				.hidden
					display: none				
				img
					width: 100%
				a:hover
					border: none
		#filter
			text-align: center
			ul
				display: inline-block
			.current
				border: 1px solid darken($color-highlight, 15%)			
			li
				float: left
				margin: 0 px(5)
				padding: 0
				border: none
				a
					padding: px(18) px(30)
					display: block
					color: $color-text-dark
					font-size: px(14)
					border: none
				&:hover a
					color: $color-text-extra-light
	#panel-video h2::after, #panel-team h2::after, #panel-news h2::after, #panel-clients h2::after, #panel-contact h2::after
		content: ''
		width: px(170)
		display: block
		height: 2px
		background-color: $color-highlight
		margin: px(25) auto px(20) auto
	#panel-video
		cf()
		text-align: center
		background: url('../imgs/photo-video.jpg') no-repeat center
		padding: px(60) 0
		@media only screen and (min-width: 1170px)
			padding: px(160) 0
		h2, p, a
			color: $color-text-extra-light
		a
			margin: 0 auto
			text-align: center
			&:hover
				color: $color-highlight
				border:none	
		p
			padding: px(10) px(30) px(40) px(30)
			@media only screen and (min-width: 1170px)
				padding: px(10) 0 px(40) 0
		.center-link
			span()
	#panel-info
		cf()
		padding: px(90) 0
		.info
			col(1/4)
			text-align: center
			color: $color-text-extra-light
			span
				font-size: px(30)
				font-weight: $type_font_weight_light
				@media only screen and (min-width: 1170px)
					font-size: px(40)
			h6
				color: $color-text-extra-light
				padding-top: px(20)
	#panel-team
		cf()
		text-align: center
		padding: px(60) 0
		@media only screen and (min-width: 1170px)
			padding: px(100) 0
		h3
			color: $color-highlight
		h6
			color: $color-text-extra-light
		p
			padding: px(10) px(30) px(30) px(30)
			@media only screen and (min-width: 1170px)
				padding: px(10) 0 px(80) 0
		img
			width: 100%
			height: 100%
		.member
			stack()
			text-align: center
			background: $color-light
			width: 60%
			margin: px(10) 0
			display: inline-block
			@media only screen and (min-width: 768px)
				col(1/2, cycle: 2)
			@media only screen and (min-width: 1170px)
				col(1/4, uncycle: 4)
			p
				col(offset: 0)
				padding: px(30)
		.member-title
			position: relative
			overflow: hidden
		.titles
			background: rgba(0 , 0, 0, 0.5)
			padding: px(15) 0
			position: absolute
			bottom: 1px
			width: 100%
		.social-icons
			a
				span(1/2)
				padding: px(15) 0
				border-top: 1px solid $color-text-extra-light
				-webkit-transition: background 0.2s ease
				transition: background 0.2s ease
				&:first-child
					background: $color-fb
					border-right: 1px solid $color-text-extra-light
					&:hover
						background: lighten($color-fb, 15%)
				&:last-child
					background: $color-tw
					&:hover
						background: lighten($color-tw, 15%)					
				&:hover
					border-bottom: none
	#panel-about
		cf()
		padding: px(60) px(30)
		@media only screen and (min-width: 1170px)
			padding: px(100) 0
		img
			stack()
			@media only screen and (min-width: 1170px)
				col(6/12)
		#about-info
			stack()
			border: 1px solid $color-midlight
			padding: px(40) px(30)
			display: inline-block
			margin-top: px(30)
			@media only screen and (min-width: 1170px)
				col(6/12)	
				margin-top: px(0)		
			p
				span()
				padding-top: px(20)
	#panel-quotes
		cf()
		background: url('../imgs/photo-landscape2.jpg') no-repeat center
		padding: px(50) 0
		@media only screen and (min-width: 1170px)
			padding: px(80) 0
	#panel-news
		cf()
		text-align:center
		padding: px(60) 0
		@media only screen and (min-width: 1170px)
			padding: px(90) 0
		p
			padding: px(10) px(30) px(30) px(30)
			@media only screen and (min-width: 1170px)
				padding: px(10) 0 px(60) 0
		h6
			color: $color-text
			padding-top: px(10)
			font-weight: 400
		.day-number
			color: $color-highlight		
		.news-item
			cf()
			padding: px(15) 0
			.news-description
				col(8/12)
				text-align: right
				padding: px(15) 0 px(25) 0
				border-bottom: 1px solid $color-midlight
				@media only screen and (min-width: 1170px)
					col(7/12)	
					padding: px(15) 0 px(25) 0		
				p
					span()
					text-align: left
					padding: 0 0 px(35) 0
				a
					float: right
			.news-day
				col(3/12)
				text-align: center
				padding-left: px(30)
				@media only screen and (min-width: 1170px)
					col(2/12, offset:1/12)				
					padding-left: px(90)
				span
					font-size: px(66)				
	#panel-feature-three
		cf()
		background: url('../imgs/photo-street.jpg') no-repeat center
		padding: px(60) px(30) px(0) px(30)
		position: relative
		@media only screen and (min-width: 1170px)
			padding: px(140) 0
		h2, p
			color: $color-text-extra-light
		h2::after
				content: ''
				width: px(70)
				display: block
				height: 2px;
				background-color: $color-highlight
				margin: px(25) 0 px(20) 0
		img
			width: 90%
			padding-top: 20px
			@media only screen and (min-width: 1170px)
				position: absolute
				bottom: 0
				right: 0
				margin: 0 auto				
				left: -35%
				width: auto
		#feature-description
			col(1)
			@media only screen and (min-width: 1170px)
				col(7/12, offset: 5/12)
			p
				span()
				padding: px(10) 0
	#panel-clients
		cf()
		padding: px(60) px(30)
		text-align: center
		@media only screen and (min-width: 1170px)
			padding: px(100) 0		
		p, h6
			padding: px(10) 0
			font-weight: 400
		#clients-testimonials
			padding-top: px(80)
		.client-opinion
			stack()
			border: 1px solid $color-midlight
			padding: px(40)
			margin: px(10) 0
			display: inline-block	
			@media only screen and (min-width: 1170px)
				col(1/3)
			p
				col(offset: 0)
				padding: px(15) 0 px(10) 0
	#panel-subscribe
		cf()
		background: url('../imgs/photo-landscape-night.jpg') no-repeat center
		padding: px(60) 0 px(80) 0
		text-align: center
		@media only screen and (min-width: 1170px)
			padding: px(100) 0 px(140) 0
		h3
			color: $color-text-extra-light
		input
			top: px(30)
		.input-text
			margin-right: px(15)
		.button-flat
			border-color: darken($color-highlight, 15%)
			margin-top: 30px
			@media only screen and (min-width: 1170px)
				margin-top: 0
	#panel-contact
		cf()
		text-align: center
		padding: px(60) 0 px(90) 0
		@media only screen and (min-width: 1170px)
			padding: px(100) 0 px(140) 0
		h2
			color: $color-text-extra-light
		p
			padding: px(10) px(30) 0 px(30)
			@media only screen and (min-width: 1170px)
				padding: px(10) 0
		form
			stack()
			@media only screen and (min-width: 1170px)
				col(8/12, offset:2/12)
		.input-text
			margin-bottom: px(15)
			@media only screen and (min-width: 1170px)
				margin-bottom: 0
				margin-right: px(15)
		.double
			@media only screen and (min-width: 1170px)
				margin-top: px(40)
		.button-flat
			margin-top: px(35)
			float: right
			margin-right: px(20)
			border-color: darken($color-highlight, 15%)
	#panel-map
		cf()
		height: px(400)
		#map-canvas
			height: 100%
			margin: 0
			padding: 0
			.gm-style-iw
				width: px(300) !important
			p
				span()

footer
	padding: px(45)
	h5
		color: $color-text-extra-light

.input-text
	color: $color-text-extra-light
	padding: px(15)
	border: none
	border-bottom: 2px solid $color-text-extra-light
	background: transparent
	font-size: px(16)
	position: relative
	top: px(42)
	width: 80%
	transition: border-color 200ms ease
	@media only screen and (min-width: 1170px)
		width: px(365)
	&:focus
		border-color: $color-highlight	

.input-text.double
	width: 80%
	@media only screen and (min-width: 1170px)
		width: px(20+365*2)
	
.button-flat
	cursor: pointer
	transition: all 200ms ease
	background: $color-highlight
	color: $color-text-extra-light
	padding: px(15) px(38)
	font-size: px(16)
	text-decoration: none
	position: relative
	top: px(42)
	&.outline
		background: transparent
		border: 1px solid $color-text-extra-light
		color: $color-text-extra-light
	&.outline-alt
		background: transparent
		border: 1px solid $color-highlight
		color: $color-highlight	
		&:hover
			color: $color-text-extra-light
			border: 1px solid darken($color-highlight, 15%)
	&:hover
		background: darken($color-highlight, 15%)
		border: 1px solid darken($color-highlight, 15%)

.icon-web, .icon-design, .icon-code, .icon-photo, .icon-portafolio, .icon-click, .icon-mail, .icon-chat
	width: px(66)
	height: px(70)
	display: block
	margin: 0 auto px(40) auto

.icon-menu, .icon-close
	width: px(29)
	height: px(23)
	display: block	
	background-size: 29px 22px
	&:hover
		border: none

.icon-close
	background: url('../imgs/icon-close.png') no-repeat center bottom
	background-size: 23px 23px

.icon-play
	width: px(80)
	height: px(80)
	display: block	
	background: url('../imgs/icon-play.png') no-repeat center bottom
	background-size: 44px 44px
	&:hover
		background: url('../imgs/icon-play-hover.png') no-repeat center bottom

.icon-fb, .icon-tw
	display: block
	margin: 0 auto
	width: 23px
	height: 23px

.icon-fb
	background: url('../imgs/icon-fb.png') no-repeat center bottom
	background-size: 11px 23px

.icon-tw
	background: url('../imgs/icon-tw.png') no-repeat center bottom
	background-size: 23px 19px

.bullet
	width: px(13)
	height: px(13)
	display: block	
	background: url('../imgs/bullet.png') no-repeat center
	background-size: 13px 13px

.icon-web
	background: url('../imgs/icon-web.png') no-repeat center bottom
	background-size: 56px 47px

.icon-design
	background: url('../imgs/icon-design.png') no-repeat center bottom
	background-size: 51px 49px

.icon-code
	background: url('../imgs/icon-code.png') no-repeat center bottom
	background-size: 60px 59px

.icon-photo
	background: url('../imgs/icon-photo.png') no-repeat center bottom
	background-size: 60px 50px
	
.icon-portafolio
	background: url('../imgs/icon-web.png') no-repeat center bottom
	background-size: 66px 57px	

.icon-click
	background: url('../imgs/icon-click.png') no-repeat center bottom
	background-size: 35px 70px	

.icon-mail
	background: url('../imgs/icon-mail.png') no-repeat center bottom
	background-size: 59px 62px
	
.icon-chat
	background: url('../imgs/icon-chat.png') no-repeat center bottom
	background-size: 62px 57px	

footer
	text-align: center

.description
	col(6/12)

#side
	col(2/3)

#quotes-rotator
	.bx-viewport
		overflow: visible	
	blockquote
		text-align: center
		color: $color-text-extra-light
		&:before
			content: ''
			display: block
			width: 36px
			height: 36px
			background: url('../imgs/icon-quote.png') no-repeat
			margin: 0 auto
		p
			span()
			font-size: px(18)
			font-weight: $type_font_weight_medium
			padding: px(15) px(30)
			@media only screen and (min-width: 1170px)
				padding: px(15) px(300)
	footer
		span()
		font-size: px(15)
		padding: 0
	.bx-controls
		span()
		padding-top: px(30)
		text-align: center
		a
			display: inline-block
			width: 32px
			height: 32px
			text-indent: -9999px
			z-index: 999
			margin: 0 px(15)
			&:hover
				border: none
	.bx-next
		bottom: 0
		width: 32px
		height: 32px
		cursor: pointer
		background: url('../imgs/icon-next.png') no-repeat
		&:hover
			background: url('../imgs/icon-next-hover.png') no-repeat
	.bx-prev 
		bottom: 0
		width: 32px
		height: 32px
		cursor: pointer
		background: url('../imgs/icon-prev.png') no-repeat
		&:hover
			background: url('../imgs/icon-prev-hover.png') no-repeat