*{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
	height: 100%;
	background: #101010;
}

body, h2, h3, p, a{
	font-family: 'Lato', sans-serif;
	color: #fff;
}


#section-hero{
	background: rgba(0, 0, 0, 0) url("../imgs/bg-1.jpg") no-repeat scroll center center / cover ;	
	width: 100%;
	height: 250px;
	margin: 0;
	padding: 0;
}

h2{
	font-weight: 900;
	font-size: 2rem;
}

.add-padding{
	padding: 0 17%;
}

span.highlight{
	color: #00ffcc;
}

.content{
	width: 80%;
	margin: 0 auto;
}

.titles p{
	font-size: 1.2rem;
	text-align: center;
}

.titles h2{
	text-align: center; 
}

.titles h2::after{
	content: "";
	width: 130px;
	display: block;
	height: 3px;
	background-color: #00ffcc;
	margin: 0 auto;
	margin-top: 15px;
}

.loading{
    background: transparent url('../imgs/ajax-loader.gif') center center no-repeat;
	width: 100%;
	height: 210px;
}
	
.slides img{
	cursor: pointer;
}

/** Image Hover Effect **/
figure{
	position: relative;
	overflow: hidden;
	margin: 0;
	min-width: 100%;
	width: 100%;
	height: auto;
	background: #000;
	text-align: center;
	cursor: pointer;
}

figure img{
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	width: 100%;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);	
}

figure figcaption{
	position: absolute;
	left: 0;
	top: 0;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	padding: 10px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure figcaption::before, figure figcaption::after{
	pointer-events: none;
}

figure figcaption, figure figcaption a{
	width: 100%;
	height: 100%;
}

figure h3{
	font-weight: 700;
	font-size: 1.1rem;
	line-height: 1.3rem;
	border: 1px solid #fff;
	padding: 5px;
}

figure h3, figure p{
	color: #fff;
	margin: 0;
}

figure figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(46, 215, 121,0.5);
	content: '';
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
}

figure p{
	font-weight: 700;
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: 1rem;
}

figure p, figure h3, figure a{
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure:hover img{
	opacity: 0.6;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

figure:hover figcaption::before{
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
}

figure:hover p, figure:hover h3 , figure:hover a{
	opacity: 1;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}


