*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  line-height: 1em;
}
h1,
h2 {
  font-weight: 900;
}
h3,
h4 {
  font-weight: 300;
}
h5,
h6 {
  font-weight: 700;
}
h1,
h2,
h3 {
  color: #1f1f1f;
}
h4,
h5 {
  color: #8e8e8e;
}
h6 {
  color: #6ceaee;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.8125rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.875rem;
}
p {
  line-height: 1.5rem;
  color: $color-text-medium;
  font-family: 'Lato', sans-serif;
}
.font-light {
  font-weight: 300;
}
.font-black {
  font-weight: 900;
}
.alt-dark {
  background-color: #22364b;
  color: #fff;
}
.alt-dark h3 {
  color: #fff;
}
.alt-light {
  background-color: #f7f7f7;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}
input {
  padding: 1.25rem;
  color: #8e8e8e;
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
  border: none;
}
input.width4 {
  width: 56%;
}
input[type=text] {
  -webkit-border-top-left-radius: 0.3125rem;
  -webkit-border-bottom-left-radius: 0.3125rem;
  -moz-border-radius-topleft: 0.3125rem;
  -moz-border-radius-bottomleft: 0.3125rem;
  border-top-left-radius: 0.3125rem;
  border-bottom-left-radius: 0.3125rem;
  border-top: 1px solid #1f1f1f;
  border-bottom: 1px solid #1f1f1f;
  border-left: 1px solid #1f1f1f;
}
input[type=submit] {
  background: #6ceaee;
  color: #177b7e;
  font-weight: 700;
  cursor: pointer;
  -webkit-border-top-right-radius: 0.3125rem;
  -webkit-border-bottom-right-radius: 0.3125rem;
  -moz-border-radius-topright: 0.3125rem;
  -moz-border-radius-bottomright: 0.3125rem;
  border-top-right-radius: 0.3125rem;
  border-bottom-right-radius: 0.3125rem;
  border-top: 1px solid #1f1f1f;
  border-bottom: 1px solid #1f1f1f;
  border-right: 1px solid #1f1f1f;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  -o-animation-duration: 0.3s;
  -ms-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
}
input[type=submit]:hover {
  background: #d3f9fa;
  -webkit-animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  animation-name: fadeIn;
}
header h4 {
  color: #22364b;
  border-bottom: 1px solid #e5e5e5;
  padding: 0.9375rem 0 3.125rem 0;
}
header,
footer,
#banner-principal-title,
#panel-team,
#panel-reviews {
  text-align: center;
}
#banner-principal-title {
  padding: 1.5625rem 0 4.0625rem 0;
}
#banner-principal-title h3 {
  color: #8e8e8e;
}
#call-to-action {
  text-align: center;
  padding: 5.625rem 0 10.3125rem 0;
}
#call-to-action p {
  padding: 1.25rem 0 0.625rem 0;
}
#call-to-action form {
  padding: 1.25rem 0;
}
#call-to-action span {
  color: #596c73;
}
#call-to-action #device {
  display: none;
}
#call-to-action #principal-form {
  width: 100%;
}
#banner-benefits-title,
#panel-team .col-1-1,
#panel-reviews .col-1-1 {
  padding: 5.3125rem 0 2.5rem 0;
}
#banner-benefits-title {
  text-align: center;
}
#banner-benefits-title h2 {
  padding-top: 0.625rem;
}
.benefits {
  padding: 4.0625rem 0;
}
.benefits .col-3-12 {
  text-align: center;
}
#panel-team {
  padding-bottom: 6.25rem;
}
#panel-team h3,
#panel-team h5 {
  margin: 0.9375rem;
}
#panel-team h3 {
  margin-top: 2.5rem;
}
#panel-team p {
  padding-top: 2.1875rem;
}
#secondary-call-to-action {
  padding: 2.8125rem 0 4.375rem;
}
#secondary-call-to-action h3,
#secondary-call-to-action form {
  text-align: center;
}
#panel-reviews {
  padding-bottom: 2.5rem;
}
#panel-reviews .grid:nth-child(2) {
  border-bottom: 1px dashed #e5e5e5;
}
#panel-reviews .col-1-1 {
  padding-bottom: 0rem;
}
#panel-reviews .col-1-1 h2 {
  margin-bottom: 0rem;
}
#panel-reviews .comments {
  padding: 4.0625rem 0;
}
#panel-reviews h3 {
  margin-top: 1.5625rem;
}
#panel-reviews h3,
#panel-reviews h4 {
  text-align: right;
}
#panel-reviews .bubble {
  position: relative;
  margin-left: 2.1875rem;
  -webkit-border-radius: 0.3125rem;
  -moz-border-radius: 0.3125rem;
  border-radius: 0.3125rem;
  padding: 1.875rem 3.125rem;
  background: #d3f9fa;
  text-align: left;
  color: #177b7e;
}
#panel-reviews .bubble:after {
  content: "";
  position: absolute;
  top: 42%;
  left: -1.0625rem;
  border-style: solid;
  border-width: 0.75rem 1.0625rem 0.75rem 0;
  border-color: transparent #d3f9fa;
  display: block;
  width: 0;
  z-index: 1;
}
footer {
  padding: 3.75rem 0;
  background: #fafafa;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
footer p {
  color: #8e8e8e;
}
.cd-user-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.65);
  z-index: 9999;
  overflow-y: auto;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.5s 0, visibility 0 0.5s;
  -moz-transition: opacity 0.5s 0, visibility 0 0.5s;
  -webkit-transition: opacity 0.5s 0, visibility 0 0.5s;
  -moz-transition: opacity 0.5s 0, visibility 0 0.5s;
  -o-transition: opacity 0.5s 0, visibility 0 0.5s;
  -ms-transition: opacity 0.5s 0, visibility 0 0.5s;
  transition: opacity 0.5s 0, visibility 0 0.5s;
}
.cd-user-modal .cd-user-modal-container {
  position: relative;
  width: 80%;
  min-width: 28.125rem;
  margin: 3.75rem auto;
  padding: 6.875rem 0;
  cursor: auto;
  background: #fff;
  text-align: center;
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.cd-user-modal .cd-user-modal-container input[type=submit] {
  border: none;
  -webkit-border-radius: 0.3125rem;
  -moz-border-radius: 0.3125rem;
  border-radius: 0.3125rem;
}
.cd-user-modal.is-visible {
  visibility: visible;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: opacity 0.5s 0, visibility 0 0;
  -moz-transition: opacity 0.5s 0, visibility 0 0;
  -webkit-transition: opacity 0.5s 0, visibility 0 0;
  -moz-transition: opacity 0.5s 0, visibility 0 0;
  -o-transition: opacity 0.5s 0, visibility 0 0;
  -ms-transition: opacity 0.5s 0, visibility 0 0;
  transition: opacity 0.5s 0, visibility 0 0;
}
.cd-user-modal.is-visible .cd-user-modal-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.benefits img,
#call-to-action img,
#title-call-to-action {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.animated {
  -webkit-animation-duration: 0.9s;
  -webkit-animation-duration: 0.9s;
  -moz-animation-duration: 0.9s;
  -o-animation-duration: 0.9s;
  -ms-animation-duration: 0.9s;
  animation-duration: 0.9s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  -ms-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -moz-transform: scale3d(0.3, 0.3, 0.3);
    -o-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
.zoomIn {
  -webkit-animation-name: zoomIn;
  -webkit-animation-name: zoomIn;
  -moz-animation-name: zoomIn;
  -o-animation-name: zoomIn;
  -ms-animation-name: zoomIn;
  animation-name: zoomIn;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  -ms-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
@-webkit-keyframes fadeIn {
  from {
    background: #6ceaee;
  }
  to {
    background: #d3f9fa;
  }
}
@media only screen and (min-width: 1140px) {
  .push-5-12 {
    margin-left: 41.7%;
  }
  .align-right img {
    float: right;
  }
  #call-to-action {
    text-align: left;
  }
  #call-to-action .grid {
    overflow: visible;
  }
  #call-to-action p {
    padding-right: 8.125rem;
  }
  #call-to-action #device {
    position: relative;
    display: inherit;
  }
  #call-to-action #device img {
    position: absolute;
    top: -10.3125rem;
  }
  #call-to-action #principal-form {
    width: 58.33%;
  }
}
@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@-o-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@-moz-keyframes zoomIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -moz-transform: scale3d(0.3, 0.3, 0.3);
    -o-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -moz-transform: scale3d(0.3, 0.3, 0.3);
    -o-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes zoomIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -moz-transform: scale3d(0.3, 0.3, 0.3);
    -o-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -moz-transform: scale3d(0.3, 0.3, 0.3);
    -o-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@-moz-keyframes fadeIn {
  from {
    background: #6ceaee;
  }
  to {
    background: #d3f9fa;
  }
}
@-webkit-keyframes fadeIn {
  from {
    background: #6ceaee;
  }
  to {
    background: #d3f9fa;
  }
}
@-o-keyframes fadeIn {
  from {
    background: #6ceaee;
  }
  to {
    background: #d3f9fa;
  }
}
@keyframes fadeIn {
  from {
    background: #6ceaee;
  }
  to {
    background: #d3f9fa;
  }
}
