* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: 'Raleway', sans-serif;
  color: #929ba0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  line-height: 1em;
  font-weight: 400;
  color: #3f4244;
}
h1 {
  font-weight: 200;
}
h3,
h5,
h6 {
  font-weight: 500;
}
h6 {
  color: #00e1ff;
}
h1 {
  font-size: 3.75rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1.0625rem;
}
h5 {
  font-size: 0.9375rem;
}
h6 {
  font-size: 0.875rem;
}
.container {
  *zoom: 1;
  width: auto;
  max-width: 1170px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.container:before,
.container:after {
  content: '';
  display: table;
}
.container:after {
  clear: both;
}
a {
  color: #00e1ff;
  text-decoration: none;
  font-weight: 300;
  font-size: 0.9375rem;
  padding: 0.125rem 0;
}
a:hover {
  color: #c8cdce;
  border-bottom: 1px solid #c8cdce;
}
p {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  line-height: 1.25rem;
  font-size: 0.9375rem;
}
p:before,
p:after {
  content: '';
  display: table;
}
p:after {
  clear: both;
}
@media only screen and (min-width: 1170px) {
  p {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 65.83333333333333%;
    margin-left: 17.08333333333333%;
    margin-right: 2.5%;
    padding: 0;
  }
  p:before,
  p:after {
    content: '';
    display: table;
  }
  p:after {
    clear: both;
  }
  p:last-child {
    margin-right: 0%;
  }
}
.alt-dark {
  background: #292929;
}
.alt-light {
  background: #f7f7f7;
}
header {
  *zoom: 1;
  background: url("../imgs/photo-hero.jpg") no-repeat center;
  height: 50vh;
  -webkit-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
header:before,
header:after {
  content: '';
  display: table;
}
header:after {
  clear: both;
}
@media only screen and (min-width: 1170px) {
  header {
    height: 90vh;
  }
}
header .container {
  position: relative;
}
header nav {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
header #logo {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.75%;
  margin-left: 0%;
  margin-right: 2.5%;
  font-family: 800;
  padding: 2.125rem 1.25rem;
}
header #logo:before,
header #logo:after {
  content: '';
  display: table;
}
header #logo:after {
  clear: both;
}
header #logo:last-child {
  margin-right: 0%;
}
@media only screen and (min-width: 1170px) {
  header #logo {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 14.58333333333333%;
    margin-left: 0%;
    margin-right: 2.5%;
  }
  header #logo:before,
  header #logo:after {
    content: '';
    display: table;
  }
  header #logo:after {
    clear: both;
  }
  header #logo:last-child {
    margin-right: 0%;
  }
}
header #logo a {
  display: block;
  height: 33px;
  line-height: 30px;
  font-size: 1.5rem;
  padding-left: 4.0625rem;
  font-weight: 800;
  color: #fff;
  background: url("../imgs/icon-logo-white.png") no-repeat left;
}
header #logo a:hover {
  border: none;
}
header .main-nav {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.75%;
  margin-left: 0%;
  margin-right: 2.5%;
  background: #fff;
  border-left: 1px solid #f7f7f7;
  border-bottom: 1px solid #f7f7f7;
  display: none;
}
header .main-nav:before,
header .main-nav:after {
  content: '';
  display: table;
}
header .main-nav:after {
  clear: both;
}
header .main-nav:last-child {
  margin-right: 0%;
}
@media only screen and (min-width: 1170px) {
  header .main-nav {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.75%;
    margin-left: 34.16666666666666%;
    margin-right: 2.5%;
    background: none;
    border: none;
    padding-top: 0;
    display: inherit;
  }
  header .main-nav:before,
  header .main-nav:after {
    content: '';
    display: table;
  }
  header .main-nav:after {
    clear: both;
  }
  header .main-nav:last-child {
    margin-right: 0%;
  }
}
header .main-nav li:first-child {
  padding-top: 1.25rem;
}
@media only screen and (min-width: 1170px) {
  header .main-nav li {
    float: left;
  }
  header .main-nav li:first-child {
    padding-top: 0;
  }
}
header .main-nav li a {
  display: block;
  padding: 1.25rem 1.5625rem;
  color: #929ba0;
  font-size: 0.9375rem;
}
@media only screen and (min-width: 1170px) {
  header .main-nav li a {
    padding: 2.5rem 0.9375rem 1rem;
    color: #fff;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    -moz-transition: border-bottom 0.2s, color 0.2s;
    -o-transition: border-bottom 0.2s, color 0.2s;
    -ms-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
  }
}
header .main-nav li a:hover {
  color: #00e1ff;
  border: none;
}
@media only screen and (min-width: 1170px) {
  header .main-nav li a:hover {
    border-bottom: 2px solid #00e1ff;
  }
}
header .sticky-nav {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 49px;
  width: 100%;
  border-bottom: 1px solid #f7f7f7;
  z-index: 9999;
  padding-top: 0;
}
header .sticky-nav .mobile-menu {
  margin-top: 0.75rem;
}
header .sticky-nav .icon-menu {
  background: url("../imgs/icon-menu.png") no-repeat center bottom;
}
header .sticky-nav #logo {
  padding-top: 0.625rem;
}
header .sticky-nav #logo a {
  color: #3f4244;
  background: url("../imgs/icon-logo.png") no-repeat;
}
header .sticky-nav li:first-child {
  padding-top: 0;
}
header .sticky-nav li a {
  padding: 1rem 0.9375rem;
  color: #3f4244;
}
header .mobile-menu {
  right: 1.875rem;
  position: absolute;
  margin-top: 2.1875rem;
  cursor: pointer;
}
@media only screen and (min-width: 1170px) {
  header .mobile-menu {
    display: none;
  }
}
header .icon-menu {
  background: url("../imgs/icon-menu-white.png") no-repeat center bottom;
}
header #panel-hero {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  text-align: center;
  margin: 30px auto 0 auto;
}
header #panel-hero:before,
header #panel-hero:after {
  content: '';
  display: table;
}
header #panel-hero:after {
  clear: both;
}
@media only screen and (min-width: 1170px) {
  header #panel-hero {
    margin: 150px auto 0 auto;
  }
}
header #panel-hero h1 {
  color: #fff;
}
#main-content #panel-services h5::after,
#main-content #panel-portafolio h5::after {
  content: '';
  width: 4.375rem;
  display: block;
  height: 2px;
  background-color: #00e1ff;
  margin: 1.25rem auto 0.9375rem auto;
}
#main-content #panel-services {
  padding: 1.875rem 0 3.75rem 0;
}
@media only screen and (min-width: 1170px) {
  #main-content #panel-services {
    padding: 7.5rem 0;
  }
}
#main-content #panel-services .service {
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 1.25rem 0;
}
#main-content #panel-services .service:first-child {
  margin-left: auto;
}
#main-content #panel-services .service:last-child {
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  #main-content #panel-services .service {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.75%;
    margin-left: 0%;
    margin-right: 2.5%;
    text-align: center;
    margin-right: 0;
  }
  #main-content #panel-services .service:before,
  #main-content #panel-services .service:after {
    content: '';
    display: table;
  }
  #main-content #panel-services .service:after {
    clear: both;
  }
  #main-content #panel-services .service:last-child {
    margin-right: 0%;
  }
}
@media only screen and (min-width: 1170px) {
  #main-content #panel-services .service {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 23.125%;
    margin-left: 0%;
    margin-right: 2.5%;
    padding: 0;
    text-align: center;
  }
  #main-content #panel-services .service:before,
  #main-content #panel-services .service:after {
    content: '';
    display: table;
  }
  #main-content #panel-services .service:after {
    clear: both;
  }
  #main-content #panel-services .service:last-child {
    margin-right: 0%;
  }
}
#main-content #panel-feature-one {
  *zoom: 1;
  padding-top: 2.5rem;
}
#main-content #panel-feature-one:before,
#main-content #panel-feature-one:after {
  content: '';
  display: table;
}
#main-content #panel-feature-one:after {
  clear: both;
}
@media only screen and (min-width: 1170px) {
  #main-content #panel-feature-one {
    padding-top: 5rem;
  }
}
#main-content #panel-feature-one .description {
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1.875rem;
}
#main-content #panel-feature-one .description:first-child {
  margin-left: auto;
}
#main-content #panel-feature-one .description:last-child {
  margin-right: auto;
}
@media only screen and (min-width: 1170px) {
  #main-content #panel-feature-one .description {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.75%;
    margin-left: 0%;
    margin-right: 2.5%;
    padding: 3.75rem 0 3.75rem 3.125rem;
  }
  #main-content #panel-feature-one .description:before,
  #main-content #panel-feature-one .description:after {
    content: '';
    display: table;
  }
  #main-content #panel-feature-one .description:after {
    clear: both;
  }
  #main-content #panel-feature-one .description:last-child {
    margin-right: 0%;
  }
}
#main-content #panel-feature-one .description p {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 2.5%;
  padding: 2.5rem 0 0.625rem 0;
}
#main-content #panel-feature-one .description p:before,
#main-content #panel-feature-one .description p:after {
  content: '';
  display: table;
}
#main-content #panel-feature-one .description p:after {
  clear: both;
}
#main-content #panel-feature-one .description p:last-child {
  margin-right: 0%;
}
#main-content #panel-feature-one img {
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 4.375rem;
}
#main-content #panel-feature-one img:first-child {
  margin-left: auto;
}
#main-content #panel-feature-one img:last-child {
  margin-right: auto;
}
@media only screen and (min-width: 1170px) {
  #main-content #panel-feature-one img {
    padding-top: 0;
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 40.208333333333336%;
    margin-left: 8.541666666666664%;
    margin-right: 2.5%;
  }
  #main-content #panel-feature-one img:before,
  #main-content #panel-feature-one img:after {
    content: '';
    display: table;
  }
  #main-content #panel-feature-one img:after {
    clear: both;
  }
  #main-content #panel-feature-one img:last-child {
    margin-right: 0%;
  }
}
#main-content #panel-feature-two {
  *zoom: 1;
  padding: 6.25rem 1.875rem 0 1.875rem;
  text-align: center;
  background: url("../imgs/photo-landscape.jpg") no-repeat center;
}
#main-content #panel-feature-two:before,
#main-content #panel-feature-two:after {
  content: '';
  display: table;
}
#main-content #panel-feature-two:after {
  clear: both;
}
@media only screen and (min-width: 1170px) {
  #main-content #panel-feature-two {
    padding: 6.25rem 0 0 0;
  }
}
#main-content #panel-feature-two h2,
#main-content #panel-feature-two p {
  color: #fff;
}
#main-content #panel-feature-two h2::after {
  content: '';
  width: 10.625rem;
  display: block;
  height: 2px;
  background-color: #00e1ff;
  margin: 1.5625rem auto 1.25rem auto;
}
#main-content #panel-feature-two img {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 82.91666666666667%;
  margin-left: 8.541666666666664%;
  margin-right: 2.5%;
  padding-top: 5.625rem;
}
#main-content #panel-feature-two img:before,
#main-content #panel-feature-two img:after {
  content: '';
  display: table;
}
#main-content #panel-feature-two img:after {
  clear: both;
}
#main-content #panel-feature-two img:last-child {
  margin-right: 0%;
}
#main-content #panel-timeline {
  *zoom: 1;
  padding: 3.75rem 0 1.25rem 0;
}
#main-content #panel-timeline:before,
#main-content #panel-timeline:after {
  content: '';
  display: table;
}
#main-content #panel-timeline:after {
  clear: both;
}
@media only screen and (min-width: 1170px) {
  #main-content #panel-timeline {
    padding: 7.5rem 0 5.625rem 0;
  }
}
#main-content #panel-timeline p {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 2.5%;
  padding: 1.25rem 0;
}
#main-content #panel-timeline p:before,
#main-content #panel-timeline p:after {
  content: '';
  display: table;
}
#main-content #panel-timeline p:after {
  clear: both;
}
#main-content #panel-timeline p:last-child {
  margin-right: 0%;
}
#main-content #panel-timeline .timeline-item {
  height: 20rem;
}
@media only screen and (min-width: 768px) {
  #main-content #panel-timeline .timeline-item {
    height: 17.5rem;
  }
}
@media only screen and (min-width: 1170px) {
  #main-content #panel-timeline .timeline-item {
    height: 13.125rem;
  }
}
#main-content #panel-timeline .timeline-item:last-child .date {
  border: none;
}
#main-content #panel-timeline .timeline-item .date,
#main-content #panel-timeline .timeline-item .event {
  height: 100%;
}
#main-content #panel-timeline .timeline-item .bullet {
  position: absolute;
  right: -7px;
}
#main-content #panel-timeline .timeline-item .date {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 23.125%;
  margin-left: 8.541666666666664%;
  margin-right: 2.5%;
  position: relative;
  text-align: right;
  border-right: 1px solid #c8cdce;
  padding-right: 30px;
}
#main-content #panel-timeline .timeline-item .date:before,
#main-content #panel-timeline .timeline-item .date:after {
  content: '';
  display: table;
}
#main-content #panel-timeline .timeline-item .date:after {
  clear: both;
}
#main-content #panel-timeline .timeline-item .date:last-child {
  margin-right: 0%;
}
#main-content #panel-timeline .timeline-item .date h4 {
  color: #00e1ff;
  margin-bottom: 0.625rem;
}
#main-content #panel-timeline .timeline-item .date h6 {
  color: #c8cdce;
}
#main-content #panel-timeline .timeline-item .event {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.75%;
  margin-left: 0%;
  margin-right: 2.5%;
}
#main-content #panel-timeline .timeline-item .event:before,
#main-content #panel-timeline .timeline-item .event:after {
  content: '';
  display: table;
}
#main-content #panel-timeline .timeline-item .event:after {
  clear: both;
}
#main-content #panel-timeline .timeline-item .event:last-child {
  margin-right: 0%;
}
#main-content #panel-portafolio {
  *zoom: 1;
  text-align: center;
  padding: 3.125rem 0;
}
#main-content #panel-portafolio:before,
#main-content #panel-portafolio:after {
  content: '';
  display: table;
}
#main-content #panel-portafolio:after {
  clear: both;
}
@media only screen and (min-width: 1170px) {
  #main-content #panel-portafolio {
    padding: 6.25rem 0;
  }
}
#main-content #panel-portafolio p {
  padding: 0rem 1.875rem;
}
@media only screen and (min-width: 1170px) {
  #main-content #panel-portafolio p {
    padding: 0;
  }
}
#main-content #panel-portafolio #filter,
#main-content #panel-portafolio #portafolio {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
}
#main-content #panel-portafolio #filter:before,
#main-content #panel-portafolio #portafolio:before,
#main-content #panel-portafolio #filter:after,
#main-content #panel-portafolio #portafolio:after {
  content: '';
  display: table;
}
#main-content #panel-portafolio #filter:after,
#main-content #panel-portafolio #portafolio:after {
  clear: both;
}
#main-content #panel-portafolio #portafolio {
  padding-top: 5rem;
}
#main-content #panel-portafolio #portafolio p {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  color: #929ba0;
}
#main-content #panel-portafolio #portafolio p:before,
#main-content #panel-portafolio #portafolio p:after {
  content: '';
  display: table;
}
#main-content #panel-portafolio #portafolio p:after {
  clear: both;
}
#main-content #panel-portafolio #portafolio .gallery-desc {
  padding: 2.1875rem 0.625rem;
  height: 10rem;
}
@media only screen and (min-width: 1170px) {
  #main-content #panel-portafolio #portafolio .gallery-desc {
    padding: 2.1875rem 3.75rem;
  }
}
#main-content #panel-portafolio #portafolio li {
  position: relative;
  height: 100%;
  float: left;
  background: #fff;
  display: block;
  cursor: pointer;
  padding: 0;
  position: relative;
  margin: 0.625rem 0.3125rem;
  width: 48%;
}
@media only screen and (min-width: 1170px) {
  #main-content #panel-portafolio #portafolio li {
    width: 32%;
  }
}
#main-content #panel-portafolio #portafolio li .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: none;
  top: 0;
  left: 0;
  -webkit-transition: background 0.2s ease;
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  -ms-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
#main-content #panel-portafolio #portafolio li .overlay:hover {
  background: rgba(88,204,219,0.5) url("../imgs/icon-plus.png") no-repeat center center;
}
#main-content #panel-portafolio #portafolio li .hidden {
  display: none;
}
#main-content #panel-portafolio #portafolio li img {
  width: 100%;
}
#main-content #panel-portafolio #portafolio li a:hover {
  border: none;
}
#main-content #panel-portafolio #filter {
  text-align: center;
}
#main-content #panel-portafolio #filter ul {
  display: inline-block;
}
#main-content #panel-portafolio #filter .current {
  border: 1px solid #00bfd9;
}
#main-content #panel-portafolio #filter li {
  float: left;
  margin: 0 0.3125rem;
  padding: 0;
  border: none;
}
#main-content #panel-portafolio #filter li a {
  padding: 1.125rem 1.875rem;
  display: block;
  color: #3f4244;
  font-size: 0.875rem;
  border: none;
}
#main-content #panel-portafolio #filter li:hover a {
  color: #fff;
}
#main-content #panel-video h2::after,
#main-content #panel-team h2::after,
#main-content #panel-news h2::after,
#main-content #panel-clients h2::after,
#main-content #panel-contact h2::after {
  content: '';
  width: 10.625rem;
  display: block;
  height: 2px;
  background-color: #00e1ff;
  margin: 1.5625rem auto 1.25rem auto;
}
#main-content #panel-video {
  *zoom: 1;
  text-align: center;
  background: url("../imgs/photo-video.jpg") no-repeat center;
  padding: 3.75rem 0;
}
#main-content #panel-video:before,
#main-content #panel-video:after {
  content: '';
  display: table;
}
#main-content #panel-video:after {
  clear: both;
}
@media only screen and (min-width: 1170px) {
  #main-content #panel-video {
    padding: 10rem 0;
  }
}
#main-content #panel-video h2,
#main-content #panel-video p,
#main-content #panel-video a {
  color: #fff;
}
#main-content #panel-video a {
  margin: 0 auto;
  text-align: center;
}
#main-content #panel-video a:hover {
  color: #00e1ff;
  border: none;
}
#main-content #panel-video p {
  padding: 0.625rem 1.875rem 2.5rem 1.875rem;
}
@media only screen and (min-width: 1170px) {
  #main-content #panel-video p {
    padding: 0.625rem 0 2.5rem 0;
  }
}
#main-content #panel-video .center-link {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
}
#main-content #panel-video .center-link:before,
#main-content #panel-video .center-link:after {
  content: '';
  display: table;
}
#main-content #panel-video .center-link:after {
  clear: both;
}
#main-content #panel-info {
  *zoom: 1;
  padding: 5.625rem 0;
}
#main-content #panel-info:before,
#main-content #panel-info:after {
  content: '';
  display: table;
}
#main-content #panel-info:after {
  clear: both;
}
#main-content #panel-info .info {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 23.125%;
  margin-left: 0%;
  margin-right: 2.5%;
  text-align: center;
  color: #fff;
}
#main-content #panel-info .info:before,
#main-content #panel-info .info:after {
  content: '';
  display: table;
}
#main-content #panel-info .info:after {
  clear: both;
}
#main-content #panel-info .info:last-child {
  margin-right: 0%;
}
#main-content #panel-info .info span {
  font-size: 1.875rem;
  font-weight: 300;
}
@media only screen and (min-width: 1170px) {
  #main-content #panel-info .info span {
    font-size: 2.5rem;
  }
}
#main-content #panel-info .info h6 {
  color: #fff;
  padding-top: 1.25rem;
}
#main-content #panel-team {
  *zoom: 1;
  text-align: center;
  padding: 3.75rem 0;
}
#main-content #panel-team:before,
#main-content #panel-team:after {
  content: '';
  display: table;
}
#main-content #panel-team:after {
  clear: both;
}
@media only screen and (min-width: 1170px) {
  #main-content #panel-team {
    padding: 6.25rem 0;
  }
}
#main-content #panel-team h3 {
  color: #00e1ff;
}
#main-content #panel-team h6 {
  color: #fff;
}
#main-content #panel-team p {
  padding: 0.625rem 1.875rem 1.875rem 1.875rem;
}
@media only screen and (min-width: 1170px) {
  #main-content #panel-team p {
    padding: 0.625rem 0 5rem 0;
  }
}
#main-content #panel-team img {
  width: 100%;
  height: 100%;
}
#main-content #panel-team .member {
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: #f7f7f7;
  width: 60%;
  margin: 0.625rem 0;
  display: inline-block;
}
#main-content #panel-team .member:first-child {
  margin-left: auto;
}
#main-content #panel-team .member:last-child {
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  #main-content #panel-team .member {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.75%;
    margin-left: 0%;
    margin-right: 2.5%;
  }
  #main-content #panel-team .member:before,
  #main-content #panel-team .member:after {
    content: '';
    display: table;
  }
  #main-content #panel-team .member:after {
    clear: both;
  }
  #main-content #panel-team .member:nth-child(2n) {
    margin-right: 0%;
    float: right;
  }
  #main-content #panel-team .member:nth-child(2n+1) {
    clear: both;
  }
}
@media only screen and (min-width: 1170px) {
  #main-content #panel-team .member {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 23.125%;
    margin-left: 0%;
    margin-right: 2.5%;
  }
  #main-content #panel-team .member:before,
  #main-content #panel-team .member:after {
    content: '';
    display: table;
  }
  #main-content #panel-team .member:after {
    clear: both;
  }
  #main-content #panel-team .member:nth-child(4n) {
    margin-right: 2.5%;
    float: left;
  }
  #main-content #panel-team .member:nth-child(4n+1) {
    clear: none;
  }
  #main-content #panel-team .member:last-child {
    margin-right: 0%;
  }
}
#main-content #panel-team .member p {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 2.5%;
  padding: 1.875rem;
}
#main-content #panel-team .member p:before,
#main-content #panel-team .member p:after {
  content: '';
  display: table;
}
#main-content #panel-team .member p:after {
  clear: both;
}
#main-content #panel-team .member p:last-child {
  margin-right: 0%;
}
#main-content #panel-team .member-title {
  position: relative;
  overflow: hidden;
}
#main-content #panel-team .titles {
  background: rgba(0,0,0,0.5);
  padding: 0.9375rem 0;
  position: absolute;
  bottom: 1px;
  width: 100%;
}
#main-content #panel-team .social-icons a {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 50%;
  margin-left: 0%;
  margin-right: 0%;
  padding: 0.9375rem 0;
  border-top: 1px solid #fff;
  -webkit-transition: background 0.2s ease;
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  -ms-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
#main-content #panel-team .social-icons a:before,
#main-content #panel-team .social-icons a:after {
  content: '';
  display: table;
}
#main-content #panel-team .social-icons a:after {
  clear: both;
}
#main-content #panel-team .social-icons a:first-child {
  background: #4a6ca5;
  border-right: 1px solid #fff;
}
#main-content #panel-team .social-icons a:first-child:hover {
  background: #6081b8;
}
#main-content #panel-team .social-icons a:last-child {
  background: #41ade1;
}
#main-content #panel-team .social-icons a:last-child:hover {
  background: #5eb9e5;
}
#main-content #panel-team .social-icons a:hover {
  border-bottom: none;
}
#main-content #panel-about {
  *zoom: 1;
  padding: 3.75rem 1.875rem;
}
#main-content #panel-about:before,
#main-content #panel-about:after {
  content: '';
  display: table;
}
#main-content #panel-about:after {
  clear: both;
}
@media only screen and (min-width: 1170px) {
  #main-content #panel-about {
    padding: 6.25rem 0;
  }
}
#main-content #panel-about img {
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#main-content #panel-about img:first-child {
  margin-left: auto;
}
#main-content #panel-about img:last-child {
  margin-right: auto;
}
@media only screen and (min-width: 1170px) {
  #main-content #panel-about img {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.75%;
    margin-left: 0%;
    margin-right: 2.5%;
  }
  #main-content #panel-about img:before,
  #main-content #panel-about img:after {
    content: '';
    display: table;
  }
  #main-content #panel-about img:after {
    clear: both;
  }
  #main-content #panel-about img:last-child {
    margin-right: 0%;
  }
}
#main-content #panel-about #about-info {
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #c8cdce;
  padding: 2.5rem 1.875rem;
  display: inline-block;
  margin-top: 1.875rem;
}
#main-content #panel-about #about-info:first-child {
  margin-left: auto;
}
#main-content #panel-about #about-info:last-child {
  margin-right: auto;
}
@media only screen and (min-width: 1170px) {
  #main-content #panel-about #about-info {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.75%;
    margin-left: 0%;
    margin-right: 2.5%;
    margin-top: 0rem;
  }
  #main-content #panel-about #about-info:before,
  #main-content #panel-about #about-info:after {
    content: '';
    display: table;
  }
  #main-content #panel-about #about-info:after {
    clear: both;
  }
  #main-content #panel-about #about-info:last-child {
    margin-right: 0%;
  }
}
#main-content #panel-about #about-info p {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  padding-top: 1.25rem;
}
#main-content #panel-about #about-info p:before,
#main-content #panel-about #about-info p:after {
  content: '';
  display: table;
}
#main-content #panel-about #about-info p:after {
  clear: both;
}
#main-content #panel-quotes {
  *zoom: 1;
  background: url("../imgs/photo-landscape2.jpg") no-repeat center;
  padding: 3.125rem 0;
}
#main-content #panel-quotes:before,
#main-content #panel-quotes:after {
  content: '';
  display: table;
}
#main-content #panel-quotes:after {
  clear: both;
}
@media only screen and (min-width: 1170px) {
  #main-content #panel-quotes {
    padding: 5rem 0;
  }
}
#main-content #panel-news {
  *zoom: 1;
  text-align: center;
  padding: 3.75rem 0;
}
#main-content #panel-news:before,
#main-content #panel-news:after {
  content: '';
  display: table;
}
#main-content #panel-news:after {
  clear: both;
}
@media only screen and (min-width: 1170px) {
  #main-content #panel-news {
    padding: 5.625rem 0;
  }
}
#main-content #panel-news p {
  padding: 0.625rem 1.875rem 1.875rem 1.875rem;
}
@media only screen and (min-width: 1170px) {
  #main-content #panel-news p {
    padding: 0.625rem 0 3.75rem 0;
  }
}
#main-content #panel-news h6 {
  color: #929ba0;
  padding-top: 0.625rem;
  font-weight: 400;
}
#main-content #panel-news .day-number {
  color: #00e1ff;
}
#main-content #panel-news .news-item {
  *zoom: 1;
  padding: 0.9375rem 0;
}
#main-content #panel-news .news-item:before,
#main-content #panel-news .news-item:after {
  content: '';
  display: table;
}
#main-content #panel-news .news-item:after {
  clear: both;
}
#main-content #panel-news .news-item .news-description {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 65.83333333333333%;
  margin-left: 0%;
  margin-right: 2.5%;
  text-align: right;
  padding: 0.9375rem 0 1.5625rem 0;
  border-bottom: 1px solid #c8cdce;
}
#main-content #panel-news .news-item .news-description:before,
#main-content #panel-news .news-item .news-description:after {
  content: '';
  display: table;
}
#main-content #panel-news .news-item .news-description:after {
  clear: both;
}
#main-content #panel-news .news-item .news-description:last-child {
  margin-right: 0%;
}
@media only screen and (min-width: 1170px) {
  #main-content #panel-news .news-item .news-description {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 57.29166666666667%;
    margin-left: 0%;
    margin-right: 2.5%;
    padding: 0.9375rem 0 1.5625rem 0;
  }
  #main-content #panel-news .news-item .news-description:before,
  #main-content #panel-news .news-item .news-description:after {
    content: '';
    display: table;
  }
  #main-content #panel-news .news-item .news-description:after {
    clear: both;
  }
  #main-content #panel-news .news-item .news-description:last-child {
    margin-right: 0%;
  }
}
#main-content #panel-news .news-item .news-description p {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  text-align: left;
  padding: 0 0 2.1875rem 0;
}
#main-content #panel-news .news-item .news-description p:before,
#main-content #panel-news .news-item .news-description p:after {
  content: '';
  display: table;
}
#main-content #panel-news .news-item .news-description p:after {
  clear: both;
}
#main-content #panel-news .news-item .news-description a {
  float: right;
}
#main-content #panel-news .news-item .news-day {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 23.125%;
  margin-left: 0%;
  margin-right: 2.5%;
  text-align: center;
  padding-left: 1.875rem;
}
#main-content #panel-news .news-item .news-day:before,
#main-content #panel-news .news-item .news-day:after {
  content: '';
  display: table;
}
#main-content #panel-news .news-item .news-day:after {
  clear: both;
}
#main-content #panel-news .news-item .news-day:last-child {
  margin-right: 0%;
}
@media only screen and (min-width: 1170px) {
  #main-content #panel-news .news-item .news-day {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 14.58333333333333%;
    margin-left: 8.541666666666664%;
    margin-right: 2.5%;
    padding-left: 5.625rem;
  }
  #main-content #panel-news .news-item .news-day:before,
  #main-content #panel-news .news-item .news-day:after {
    content: '';
    display: table;
  }
  #main-content #panel-news .news-item .news-day:after {
    clear: both;
  }
  #main-content #panel-news .news-item .news-day:last-child {
    margin-right: 0%;
  }
}
#main-content #panel-news .news-item .news-day span {
  font-size: 4.125rem;
}
#main-content #panel-feature-three {
  *zoom: 1;
  background: url("../imgs/photo-street.jpg") no-repeat center;
  padding: 3.75rem 1.875rem 0rem 1.875rem;
  position: relative;
}
#main-content #panel-feature-three:before,
#main-content #panel-feature-three:after {
  content: '';
  display: table;
}
#main-content #panel-feature-three:after {
  clear: both;
}
@media only screen and (min-width: 1170px) {
  #main-content #panel-feature-three {
    padding: 8.75rem 0;
  }
}
#main-content #panel-feature-three h2,
#main-content #panel-feature-three p {
  color: #fff;
}
#main-content #panel-feature-three h2::after {
  content: '';
  width: 4.375rem;
  display: block;
  height: 2px;
  background-color: #00e1ff;
  margin: 1.5625rem 0 1.25rem 0;
}
#main-content #panel-feature-three img {
  width: 90%;
  padding-top: 20px;
}
@media only screen and (min-width: 1170px) {
  #main-content #panel-feature-three img {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    left: -35%;
    width: auto;
  }
}
#main-content #panel-feature-three #feature-description {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 2.5%;
}
#main-content #panel-feature-three #feature-description:before,
#main-content #panel-feature-three #feature-description:after {
  content: '';
  display: table;
}
#main-content #panel-feature-three #feature-description:after {
  clear: both;
}
#main-content #panel-feature-three #feature-description:last-child {
  margin-right: 0%;
}
@media only screen and (min-width: 1170px) {
  #main-content #panel-feature-three #feature-description {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 57.29166666666667%;
    margin-left: 42.708333333333336%;
    margin-right: 2.5%;
  }
  #main-content #panel-feature-three #feature-description:before,
  #main-content #panel-feature-three #feature-description:after {
    content: '';
    display: table;
  }
  #main-content #panel-feature-three #feature-description:after {
    clear: both;
  }
  #main-content #panel-feature-three #feature-description:last-child {
    margin-right: 0%;
  }
}
#main-content #panel-feature-three #feature-description p {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  padding: 0.625rem 0;
}
#main-content #panel-feature-three #feature-description p:before,
#main-content #panel-feature-three #feature-description p:after {
  content: '';
  display: table;
}
#main-content #panel-feature-three #feature-description p:after {
  clear: both;
}
#main-content #panel-clients {
  *zoom: 1;
  padding: 3.75rem 1.875rem;
  text-align: center;
}
#main-content #panel-clients:before,
#main-content #panel-clients:after {
  content: '';
  display: table;
}
#main-content #panel-clients:after {
  clear: both;
}
@media only screen and (min-width: 1170px) {
  #main-content #panel-clients {
    padding: 6.25rem 0;
  }
}
#main-content #panel-clients p,
#main-content #panel-clients h6 {
  padding: 0.625rem 0;
  font-weight: 400;
}
#main-content #panel-clients #clients-testimonials {
  padding-top: 5rem;
}
#main-content #panel-clients .client-opinion {
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #c8cdce;
  padding: 2.5rem;
  margin: 0.625rem 0;
  display: inline-block;
}
#main-content #panel-clients .client-opinion:first-child {
  margin-left: auto;
}
#main-content #panel-clients .client-opinion:last-child {
  margin-right: auto;
}
@media only screen and (min-width: 1170px) {
  #main-content #panel-clients .client-opinion {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 31.66666666666666%;
    margin-left: 0%;
    margin-right: 2.5%;
  }
  #main-content #panel-clients .client-opinion:before,
  #main-content #panel-clients .client-opinion:after {
    content: '';
    display: table;
  }
  #main-content #panel-clients .client-opinion:after {
    clear: both;
  }
  #main-content #panel-clients .client-opinion:last-child {
    margin-right: 0%;
  }
}
#main-content #panel-clients .client-opinion p {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 2.5%;
  padding: 0.9375rem 0 0.625rem 0;
}
#main-content #panel-clients .client-opinion p:before,
#main-content #panel-clients .client-opinion p:after {
  content: '';
  display: table;
}
#main-content #panel-clients .client-opinion p:after {
  clear: both;
}
#main-content #panel-clients .client-opinion p:last-child {
  margin-right: 0%;
}
#main-content #panel-subscribe {
  *zoom: 1;
  background: url("../imgs/photo-landscape-night.jpg") no-repeat center;
  padding: 3.75rem 0 5rem 0;
  text-align: center;
}
#main-content #panel-subscribe:before,
#main-content #panel-subscribe:after {
  content: '';
  display: table;
}
#main-content #panel-subscribe:after {
  clear: both;
}
@media only screen and (min-width: 1170px) {
  #main-content #panel-subscribe {
    padding: 6.25rem 0 8.75rem 0;
  }
}
#main-content #panel-subscribe h3 {
  color: #fff;
}
#main-content #panel-subscribe input {
  top: 1.875rem;
}
#main-content #panel-subscribe .input-text {
  margin-right: 0.9375rem;
}
#main-content #panel-subscribe .button-flat {
  border-color: #00bfd9;
  margin-top: 30px;
}
@media only screen and (min-width: 1170px) {
  #main-content #panel-subscribe .button-flat {
    margin-top: 0;
  }
}
#main-content #panel-contact {
  *zoom: 1;
  text-align: center;
  padding: 3.75rem 0 5.625rem 0;
}
#main-content #panel-contact:before,
#main-content #panel-contact:after {
  content: '';
  display: table;
}
#main-content #panel-contact:after {
  clear: both;
}
@media only screen and (min-width: 1170px) {
  #main-content #panel-contact {
    padding: 6.25rem 0 8.75rem 0;
  }
}
#main-content #panel-contact h2 {
  color: #fff;
}
#main-content #panel-contact p {
  padding: 0.625rem 1.875rem 0 1.875rem;
}
@media only screen and (min-width: 1170px) {
  #main-content #panel-contact p {
    padding: 0.625rem 0;
  }
}
#main-content #panel-contact form {
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#main-content #panel-contact form:first-child {
  margin-left: auto;
}
#main-content #panel-contact form:last-child {
  margin-right: auto;
}
@media only screen and (min-width: 1170px) {
  #main-content #panel-contact form {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 65.83333333333333%;
    margin-left: 17.08333333333333%;
    margin-right: 2.5%;
  }
  #main-content #panel-contact form:before,
  #main-content #panel-contact form:after {
    content: '';
    display: table;
  }
  #main-content #panel-contact form:after {
    clear: both;
  }
  #main-content #panel-contact form:last-child {
    margin-right: 0%;
  }
}
#main-content #panel-contact .input-text {
  margin-bottom: 0.9375rem;
}
@media only screen and (min-width: 1170px) {
  #main-content #panel-contact .input-text {
    margin-bottom: 0;
    margin-right: 0.9375rem;
  }
}
@media only screen and (min-width: 1170px) {
  #main-content #panel-contact .double {
    margin-top: 2.5rem;
  }
}
#main-content #panel-contact .button-flat {
  margin-top: 2.1875rem;
  float: right;
  margin-right: 1.25rem;
  border-color: #00bfd9;
}
#main-content #panel-map {
  *zoom: 1;
  height: 25rem;
}
#main-content #panel-map:before,
#main-content #panel-map:after {
  content: '';
  display: table;
}
#main-content #panel-map:after {
  clear: both;
}
#main-content #panel-map #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
}
#main-content #panel-map #map-canvas .gm-style-iw {
  width: 18.75rem !important;
}
#main-content #panel-map #map-canvas p {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
}
#main-content #panel-map #map-canvas p:before,
#main-content #panel-map #map-canvas p:after {
  content: '';
  display: table;
}
#main-content #panel-map #map-canvas p:after {
  clear: both;
}
footer {
  padding: 2.8125rem;
}
footer h5 {
  color: #fff;
}
.input-text {
  color: #fff;
  padding: 0.9375rem;
  border: none;
  border-bottom: 2px solid #fff;
  background: transparent;
  font-size: 1rem;
  position: relative;
  top: 2.625rem;
  width: 80%;
  -webkit-transition: border-color 200ms ease;
  -moz-transition: border-color 200ms ease;
  -o-transition: border-color 200ms ease;
  -ms-transition: border-color 200ms ease;
  transition: border-color 200ms ease;
}
@media only screen and (min-width: 1170px) {
  .input-text {
    width: 22.8125rem;
  }
}
.input-text:focus {
  border-color: #00e1ff;
}
.input-text.double {
  width: 80%;
}
@media only screen and (min-width: 1170px) {
  .input-text.double {
    width: 46.875rem;
  }
}
.button-flat {
  cursor: pointer;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  transition: all 200ms ease;
  background: #00e1ff;
  color: #fff;
  padding: 0.9375rem 2.375rem;
  font-size: 1rem;
  text-decoration: none;
  position: relative;
  top: 2.625rem;
}
.button-flat.outline {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}
.button-flat.outline-alt {
  background: transparent;
  border: 1px solid #00e1ff;
  color: #00e1ff;
}
.button-flat.outline-alt:hover {
  color: #fff;
  border: 1px solid #00bfd9;
}
.button-flat:hover {
  background: #00bfd9;
  border: 1px solid #00bfd9;
}
.icon-web,
.icon-design,
.icon-code,
.icon-photo,
.icon-portafolio,
.icon-click,
.icon-mail,
.icon-chat {
  width: 4.125rem;
  height: 4.375rem;
  display: block;
  margin: 0 auto 2.5rem auto;
}
.icon-menu,
.icon-close {
  width: 1.8125rem;
  height: 1.4375rem;
  display: block;
  -webkit-background-size: 29px 22px;
  -moz-background-size: 29px 22px;
  background-size: 29px 22px;
}
.icon-menu:hover,
.icon-close:hover {
  border: none;
}
.icon-close {
  background: url("../imgs/icon-close.png") no-repeat center bottom;
  -webkit-background-size: 23px 23px;
  -moz-background-size: 23px 23px;
  background-size: 23px 23px;
}
.icon-play {
  width: 5rem;
  height: 5rem;
  display: block;
  background: url("../imgs/icon-play.png") no-repeat center bottom;
  -webkit-background-size: 44px 44px;
  -moz-background-size: 44px 44px;
  background-size: 44px 44px;
}
.icon-play:hover {
  background: url("../imgs/icon-play-hover.png") no-repeat center bottom;
}
.icon-fb,
.icon-tw {
  display: block;
  margin: 0 auto;
  width: 23px;
  height: 23px;
}
.icon-fb {
  background: url("../imgs/icon-fb.png") no-repeat center bottom;
  -webkit-background-size: 11px 23px;
  -moz-background-size: 11px 23px;
  background-size: 11px 23px;
}
.icon-tw {
  background: url("../imgs/icon-tw.png") no-repeat center bottom;
  -webkit-background-size: 23px 19px;
  -moz-background-size: 23px 19px;
  background-size: 23px 19px;
}
.bullet {
  width: 0.8125rem;
  height: 0.8125rem;
  display: block;
  background: url("../imgs/bullet.png") no-repeat center;
  -webkit-background-size: 13px 13px;
  -moz-background-size: 13px 13px;
  background-size: 13px 13px;
}
.icon-web {
  background: url("../imgs/icon-web.png") no-repeat center bottom;
  -webkit-background-size: 56px 47px;
  -moz-background-size: 56px 47px;
  background-size: 56px 47px;
}
.icon-design {
  background: url("../imgs/icon-design.png") no-repeat center bottom;
  -webkit-background-size: 51px 49px;
  -moz-background-size: 51px 49px;
  background-size: 51px 49px;
}
.icon-code {
  background: url("../imgs/icon-code.png") no-repeat center bottom;
  -webkit-background-size: 60px 59px;
  -moz-background-size: 60px 59px;
  background-size: 60px 59px;
}
.icon-photo {
  background: url("../imgs/icon-photo.png") no-repeat center bottom;
  -webkit-background-size: 60px 50px;
  -moz-background-size: 60px 50px;
  background-size: 60px 50px;
}
.icon-portafolio {
  background: url("../imgs/icon-web.png") no-repeat center bottom;
  -webkit-background-size: 66px 57px;
  -moz-background-size: 66px 57px;
  background-size: 66px 57px;
}
.icon-click {
  background: url("../imgs/icon-click.png") no-repeat center bottom;
  -webkit-background-size: 35px 70px;
  -moz-background-size: 35px 70px;
  background-size: 35px 70px;
}
.icon-mail {
  background: url("../imgs/icon-mail.png") no-repeat center bottom;
  -webkit-background-size: 59px 62px;
  -moz-background-size: 59px 62px;
  background-size: 59px 62px;
}
.icon-chat {
  background: url("../imgs/icon-chat.png") no-repeat center bottom;
  -webkit-background-size: 62px 57px;
  -moz-background-size: 62px 57px;
  background-size: 62px 57px;
}
footer {
  text-align: center;
}
.description {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.75%;
  margin-left: 0%;
  margin-right: 2.5%;
}
.description:before,
.description:after {
  content: '';
  display: table;
}
.description:after {
  clear: both;
}
.description:last-child {
  margin-right: 0%;
}
#side {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 65.83333333333333%;
  margin-left: 0%;
  margin-right: 2.5%;
}
#side:before,
#side:after {
  content: '';
  display: table;
}
#side:after {
  clear: both;
}
#side:last-child {
  margin-right: 0%;
}
#quotes-rotator .bx-viewport {
  overflow: visible;
}
#quotes-rotator blockquote {
  text-align: center;
  color: #fff;
}
#quotes-rotator blockquote:before {
  content: '';
  display: block;
  width: 36px;
  height: 36px;
  background: url("../imgs/icon-quote.png") no-repeat;
  margin: 0 auto;
}
#quotes-rotator blockquote p {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 0.9375rem 1.875rem;
}
#quotes-rotator blockquote p:before,
#quotes-rotator blockquote p:after {
  content: '';
  display: table;
}
#quotes-rotator blockquote p:after {
  clear: both;
}
@media only screen and (min-width: 1170px) {
  #quotes-rotator blockquote p {
    padding: 0.9375rem 18.75rem;
  }
}
#quotes-rotator footer {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  font-size: 0.9375rem;
  padding: 0;
}
#quotes-rotator footer:before,
#quotes-rotator footer:after {
  content: '';
  display: table;
}
#quotes-rotator footer:after {
  clear: both;
}
#quotes-rotator .bx-controls {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  padding-top: 1.875rem;
  text-align: center;
}
#quotes-rotator .bx-controls:before,
#quotes-rotator .bx-controls:after {
  content: '';
  display: table;
}
#quotes-rotator .bx-controls:after {
  clear: both;
}
#quotes-rotator .bx-controls a {
  display: inline-block;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 999;
  margin: 0 0.9375rem;
}
#quotes-rotator .bx-controls a:hover {
  border: none;
}
#quotes-rotator .bx-next {
  bottom: 0;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: url("../imgs/icon-next.png") no-repeat;
}
#quotes-rotator .bx-next:hover {
  background: url("../imgs/icon-next-hover.png") no-repeat;
}
#quotes-rotator .bx-prev {
  bottom: 0;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: url("../imgs/icon-prev.png") no-repeat;
}
#quotes-rotator .bx-prev:hover {
  background: url("../imgs/icon-prev-hover.png") no-repeat;
}
